* {
    box-sizing: border-box;
}

.escondido  {
    display: none;
}
a {
    text-decoration: none;
}

.topo {
    width: 100%;
    height: 70px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px  black;
}
.quizzes {
    width: 1051px;
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
}
.container {
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    color: #FFFFFF;
    font-size: 37px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.quizzesUsuario {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}
.quizzesUsuario ion-icon {
    color: #EC362D;
    font-size: 30px;
    margin-left: 10px;
}
.topo-quizzes-usuario {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.quizzesVazio{
    width: 100%;
    height: 180px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed #D4D4D4;
}
.texto_create {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
    font-size: 20px;
    color: #b9b9b9;
}
.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    margin-top: 25px;
    height: 40px;
    width: 160px;
    font-size: 18px;
    color: red;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
}
.botao:hover{
    background-color: rgba(255,0,0,0.1);
}

.quizzesPublicos {
    margin-top: 15px;
}
ul {
    display: flex;
    flex-wrap: wrap;
}
.tituloGeral {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
li {
    margin: 15px 5px;
    width: 340px;
    height: 180px;
    display: flex;
    border: 1px solid #000000;
    border-radius: 5px;
    position: relative;
}
img {
    border-radius: 5px;
    object-fit: cover;
}

.tituloQuizz {
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    position: absolute;
    left: 5%;
    bottom: 5%;
    
}
.gradiente {
    background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0));
    width: 100%;
    height: 50%;
    display: flex;
    position: absolute;
    bottom: 0px;
    border-radius: 5px;
}

@media (max-width: 735px) {

    a {
        text-decoration: none;
    }
    
    .topo {
        width: 100%;
        height: 70px;
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 10px  black;
    }
    .quizzes {
        width: 100%;
    }
    .container {
        background-color: #FFFFFF;
        width: 100%;
        height: 100%;
    }
    ul {
        flex-direction: column;
        flex-wrap: none;
        margin-left: 15px;
        margin-right: 15px;
    }
    
   h1 {
        color: #FFFFFF;
        font-size: 37px;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
    }

    .quizzesUsuario ion-icon {
        color: #EC362D;
        font-size: 30px;
        margin-right: 10px;
    }
    .topo-quizzes-usuario {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .quizzesVazio{
        width: 100%;
        height: 180px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px dashed #D4D4D4;
        margin-top: 20px;
        margin-bottom: 20px;
        
    }
    .texto_create {
        display: inline-block;
        font-family: 'Roboto', sans-serif;
        margin-left: 10px;
        font-size: 20px;
        color: #b9b9b9;
    }
    .botao {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px dashed #EC362D;
        border-radius: 50px;
        margin-top: 25px;
        height: 40px;
        width: 160px;
    }
    .botao span {
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #EC362D;
    }

    .tituloGeral {
        color: #000000;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: bold;
        margin-left: 17px;
    }
    li {
        width: 100%;
        height: 180px;
        display: flex;
        border-radius: 5px;
        position: relative;
        
    }
    img {
        border-radius: 5px;
        background-size: cover;
        width: 100%;
        height: 100%;
    }
    
    .tituloQuizz {
        color: #FFFFFF;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        display: inline-block;
        position: absolute;
        left: 5%;
        bottom: 5%;
        
    }
    .gradiente {
        background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0));
        width: 100%;
        height: 50%;
        display: flex;
        position: absolute;
        bottom: 0px;
        border-radius: 5px;
    }
    .escondido  {
        display: none;
    }
    
}


/* INICIO DA PAGINA 2 (PEDRO) */
h4{
    font-family: 'Roboto';
    font-size: 23px;
    font-weight: 700;

}
h6{
    color: black;
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 700;
}
h7{
    margin-top: 20px;
    font-size: 16px;
    font-family: 'Roboto';
    color: lightgrey;
    transition: 0.2s linear;
}
h7:hover{
    cursor:pointer;
    font-size: 18px;
    font-weight: bold;
    border-bottom: thin solid #f3f3f3;
}
.container2{
    background-color: #E5E5E5;
}
.banner{
    width: 100%;
    height: 140px;
    position: relative;
}
.banner img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.banner span{
    font-size: 19px;
    font-family: 'Roboto';
    font-weight: 400;
    color: white;
}
.gradientebanner{
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pergunta1{
    background-color: white;
    width: 100%;
    height: 500px;
    padding: 10px;
    margin-top: 25px;
}

.titulopergunta{
    background-color: #434CA0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 90px;
}
.titulopergunta span{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    color: white;
}
.respostas{
    width: 100%;
    height: auto;

    display: flex;
    justify-content : center;
    align-items: center;

    margin-top: 20px;
}
.resposta{
    margin-left: 25px;
    margin-right: 25px;
}
.resposta img{
    object-fit: cover;
    width: 200px;
    height: 150px;    
}

/* SECAO DE CRIAR O QUIZZ */
.secao3-criacaoQuizz{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.secao3-container{
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 20px;
    margin-top: 3%;
}
.input-blocks{
    width: 100%;
    height: auto;
    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 30px;
    margin-top: 3%;

}
.inputQuizz{
    width: 90%;
    height: 60px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: thin solid lightgrey;
    font-style: italic;
}
.btn-criarquizz{
    width: 90%;
    height: 80px;
    border-radius: 10px;
    color: white;
    background-color: red;
    font-size: 18px;
}
.btn-criarquizz:hover{
    cursor: pointer;
    background-color: lightcoral;
}
